<div id="footer">
    <div class="col col-md-4 col-md-offset-4 text-center" id="contact">
      <a href="https://www.facebook.com/cu.spirit.1"><img src="icon/facebook_dark.png"></img></a>
      <a href="https://plus.google.com/u/0/112014218644920549502/posts"><img src="icon/google_dark.png"></img></a>
      <a href="#"><img src="icon/in_dark.png"></img></a>
      <a href="#"><img src="icon/skype_dark.png"></img></a>
      <a href="#"><img src="icon/twitter02_dark.png"></img></a>
      <p id="copyright">@Copyright-Design by Dong Vo Doan</p>
    </div>
  </div>