<div id="footer">
    <div class="col col-md-4 col-md-offset-4 text-center" id="contact">
      <a href="{{contact.facebook}}"><img alt="icon.fb" src="{{icon.facebook}}"></img></a>
      <a href="{{contact.google}}"><img alt="icon.gg" src="{{icon.google}}"></img></a>
      <a href="{{contact.instagram}}"><img alt="icon.in" src="{{icon.instagram}}"></img></a>
      <a href="{{contact.skype}}"><img alt="icon.sky" src="{{icon.skype}}"></img></a>
      <a href="{{contact.twitter}}"><img alt="icon.twi" src="{{icon.twitter}}"></img></a>
      <p id="copyright">@Copyright-Design by Dong Vo Doan</p>
    </div>
  </div>